<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="RemoteData"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<stringAttribute key="appid" value="com.portilla.REMOTEDATA"/>
<stringAttribute key="certificate" value="miguel Portilla (VA82M68L6F)"/>
<stringAttribute key="debug_config" value="::1407627707757:10.63.32.87"/>
<stringAttribute key="debug_hosts" value="10.63.32.87"/>
<stringAttribute key="device_id" value="all"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RemoteData"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="7.1"/>
<stringAttribute key="uuid" value="EEDC519E-E31A-4238-82ED-0AC56E8E6FFE"/>
</launchConfiguration>
